@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
@media (max-width: 520px) {
  body {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

/* フェードイン用のCSS */
.slide-bottom {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.3s 0s ease-out;
}

/*========================================================
main-visual
=========================================================*/
.main-visual {
  height: 600px;
  background-image: url(../img/top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 520px) and (max-width: 959px) {
  .main-visual {
    height: 300px;
  }
}
@media (max-width: 520px) {
  .main-visual {
    height: 200px;
  }
}

/*========================================================
header
=========================================================*/
header {
  height: 60px;
  background-color: #8697DA;
}
@media (max-width: 520px) {
  header {
    height: 40px;
  }
}

.header__nav {
  width: 600px;
  max-width: 90%;
  margin: auto;
}

.header__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header__list--item a {
  color: #fff;
  font-family: "Nunito", sans-serif;
  line-height: 60px;
  letter-spacing: 0.1em;
  position: relative;
}
@media (max-width: 520px) {
  .header__list--item a {
    line-height: 40px;
  }
}
.header__list--item a:hover::after {
  transform-origin: center top;
  transform: scale(1, 1);
}
.header__list--item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}

/*========================================================
section共通
=========================================================*/
.section__title {
  font-size: 56px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  position: relative;
  margin-bottom: 140px;
  letter-spacing: 0.05em;
}
.section__title::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 1px;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
}
@media (max-width: 520px) {
  .section__title::after {
    height: 40px;
  }
}

.wrapper {
  width: 1000px;
  max-width: 90%;
  margin: auto;
}

/*========================================================
about
=========================================================*/
.about {
  margin: 70px auto 0;
}
@media (min-width: 520px) and (max-width: 959px) {
  .about {
    margin-top: 50px;
  }
}
@media (max-width: 520px) {
  .about {
    margin-top: 30px;
  }
}

.about__contents {
  display: flex;
  align-items: center;
}
@media (min-width: 520px) and (max-width: 959px) {
  .about__contents {
    justify-content: space-between;
  }
}
@media (max-width: 520px) {
  .about__contents {
    display: block;
    margin-top: 30px;
  }
}

.about__img {
  width: 45%;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
@media (min-width: 520px) and (max-width: 959px) {
  .about__img {
    width: 40%;
    height: auto;
  }
}
@media (max-width: 520px) {
  .about__img {
    width: 100%;
  }
}
.about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.about__info {
  width: 45%;
  margin-left: auto;
}
@media (min-width: 520px) and (max-width: 959px) {
  .about__info {
    width: 50%;
    margin-left: 0px;
  }
}
@media (max-width: 520px) {
  .about__info {
    width: 100%;
    margin-top: 20px;
  }
}

.about__info--item {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
}

.about__info--description {
  margin-top: 30px;
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 1.6;
}

/*========================================================
skill
=========================================================*/
.skill {
  margin: 150px auto 0;
  padding: 80px 0 100px;
  background-color: rgba(149, 201, 200, 0.4);
}
@media (min-width: 520px) and (max-width: 959px) {
  .skill {
    margin-top: 100px;
  }
}
@media (max-width: 520px) {
  .skill {
    margin-top: 50px;
  }
}

@media (min-width: 520px) and (max-width: 959px) {
  .skill__contents {
    padding: 20px 15px;
  }
}
@media (max-width: 520px) {
  .skill__contents {
    margin-top: 30px;
    padding: 15px 10px;
  }
}

.skill__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill__item:not(:first-child) {
  margin-top: 20px;
}

.skill__item--title {
  width: 200px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #309FB3;
  border-radius: 30px;
  font-size: 32px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
@media (min-width: 520px) and (max-width: 959px) {
  .skill__item--title {
    font-size: 18px;
  }
}
@media (max-width: 520px) {
  .skill__item--title {
    font-size: 16px;
  }
}

.skill__item--description {
  width: 60%;
  margin-left: 50px;
  font-size: 20px;
}
@media (min-width: 520px) and (max-width: 959px) {
  .skill__item--description {
    margin-left: 10px;
  }
}
@media (max-width: 520px) {
  .skill__item--description {
    margin-left: 10px;
  }
}

/*========================================================
service
=========================================================*/
.service {
  margin: 100px auto 0;
}
@media (min-width: 520px) and (max-width: 959px) {
  .service {
    margin-top: 100px;
  }
}
@media (max-width: 520px) {
  .service {
    margin-top: 50px;
  }
}

@media (max-width: 520px) {
  .service__contents {
    margin-top: 30px;
  }
}

.service__item {
  display: flex;
  align-items: center;
}
@media (min-width: 520px) and (max-width: 959px) {
  .service__item {
    justify-content: center;
  }
}
@media (max-width: 520px) {
  .service__item {
    display: block;
  }
}
.service__item:not(:first-child) {
  margin-top: 74px;
}
@media (max-width: 520px) {
  .service__item:not(:first-child) {
    margin-top: 30px;
  }
}

.service__item--title {
  font-weight: bold;
  font-size: 32px;
  width: 35%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: rgba(134, 151, 218, 0.1);
  text-align: center;
}
@media (min-width: 520px) and (max-width: 959px) {
  .service__item--title {
    width: 40%;
    font-size: 20px;
  }
}

.service__item--description {
  font-size: 20px;
  margin-left: auto;
  width: 60%;
}
@media (min-width: 520px) and (max-width: 959px) {
  .service__item--description {
    width: 50%;
    margin-left: 10px;
  }
}
@media (max-width: 520px) {
  .service__item--description {
    width: 100%;
  }
}

/*========================================================
works
=========================================================*/
.works {
  margin-top: 150px;
  background-color: rgba(149, 201, 200, 0.4);
  padding: 100px 0;
}
@media (min-width: 520px) and (max-width: 959px) {
  .works {
    margin-top: 100px;
  }
}
@media (max-width: 520px) {
  .works {
    margin-top: 50px;
  }
}

.works__contents {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 520px) {
  .works__contents {
    margin-top: 30px;
  }
}

.works__content {
  width: calc(33.3% - 16px);
}
.works__content:not(:first-child) {
  margin-left: 24px;
}

.works__img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.works__img:hover img {
  transform: scale(1.1);
}
@media (min-width: 520px) and (max-width: 959px) {
  .works__img {
    width: 400px;
    margin: auto;
  }
}
.works__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s;
}

.works__description {
  margin: 20px auto 0;
  text-align: center;
}
.works__description a {
  color: #333;
  position: relative;
  font-size: 18px;
  padding-bottom: 4px;
}
.works__description a:hover::after {
  transform-origin: center top;
  transform: scale(1, 1);
}
.works__description a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}

/*========================================================
contact
=========================================================*/
.contact {
  margin-top: 100px;
}
@media (min-width: 520px) and (max-width: 959px) {
  .contact {
    margin-top: 100px;
  }
}
@media (max-width: 520px) {
  .contact {
    margin-top: 50px;
  }
}

.contact__lead {
  width: 80%;
  margin: 50px auto 0;
  text-align: center;
}
@media (min-width: 520px) and (max-width: 959px) {
  .contact__lead {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .contact__lead {
    width: 100%;
    margin-top: 30px;
  }
}

.contact__form {
  margin-top: 50px;
}
@media (max-width: 520px) {
  .contact__form {
    margin-top: 30px;
  }
}

.contact__form--item {
  margin-top: 18px;
}
.contact__form--item label {
  display: inline-block;
  margin-left: 20px;
  position: relative;
}
.contact__form--item input {
  margin-top: 22px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}
@media (max-width: 520px) {
  .contact__form--item input {
    margin-top: 12px;
    font-size: 14px;
  }
}
.contact__form--item textarea {
  margin-top: 22px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  resize: none;
  height: 210px;
}
@media (max-width: 520px) {
  .contact__form--item textarea {
    font-size: 14px;
  }
}
.contact__form--item .required::after {
  content: "必須";
  position: absolute;
  top: -4px;
  right: -60px;
  color: #fff;
  padding: 3.5px 9px;
  background-color: #B23030;
}

@media (max-width: 520px) {
  .button {
    text-align: center;
  }
}
.button button {
  margin-top: 70px;
  padding: 19px 56px;
  color: #fff;
  background-color: #8697DA;
  border: none;
  font-size: 16px;
  margin-left: 30px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
@media (max-width: 520px) {
  .button button {
    margin: 30px auto 0px;
    font-size: 14px;
  }
}

.top-button {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30px;
  height: 18px;
  margin: 100px auto 0;
}
@media (max-width: 520px) {
  .top-button {
    margin-top: 40px;
  }
}

/*========================================================
footer
=========================================================*/
footer {
  height: 60px;
  margin-top: 100px;
  background-color: #8697DA;
}
@media (max-width: 520px) {
  footer {
    height: 40px;
    max-width: 90%;
    margin: 30px auto 0;
  }
}

.footer__list {
  display: flex;
  width: 50%;
  line-height: 60px;
  margin-left: auto;
}
@media (min-width: 520px) and (max-width: 959px) {
  .footer__list {
    width: auto;
    margin-right: 30px;
    justify-content: flex-end;
  }
}
@media (max-width: 520px) {
  .footer__list {
    width: 100%;
    margin-left: 0px;
    justify-content: space-around;
    line-height: 40px;
  }
}

.footer__list--item a {
  color: #fff;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  position: relative;
}
.footer__list--item a:hover::after {
  transform-origin: center top;
  transform: scale(1, 1);
}
.footer__list--item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.footer__list--item:not(:first-child) {
  margin-left: 30px;
}
@media (max-width: 520px) {
  .footer__list--item:not(:first-child) {
    margin-left: 0px;
  }
}