
$color-first : #8697DA;
$color-second: #309FB3;
$color-third: #95C9C8;

$font-family-ja: 'Noto Serif JP', serif;
$font-family-en: 'Nunito', sans-serif;

//マップ型変数breakpointsを定義
$breakpoints: (
//キー : 値
  'sp': "(max-width: 767px)", 
  'tab': "(min-width: 768px) and (max-width: 1200px)", 
  'pc': "(min-width: 1200px)"
) !default;

@mixin mq($breakpoint: sp) {
  //map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
      //この中をカスタムできる
      @content;
    }
  }

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    color: #333;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    
    @include mq('sp') {
        font-size: 14px;
    }
}

a {
    text-decoration: none;
}

/* フェードイン用のCSS */
.slide-bottom {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.3s 0s ease-out;
  }

/*========================================================
main-visual
=========================================================*/


.main-visual {
    height: 600px;
    background-image: url(../img/top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @include mq('tab') {
        height: 300px;
    }

    @include mq('sp') {
        height: 200px;
    }
}

.main-visual__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1em;
    text-align: center;
    text-indent: 1em;

    @include mq('tab') {
        letter-spacing: 0.1em;
        text-indent: 0;
    }

    @include mq('sp') {
        letter-spacing: 0.1em;
        font-size: 50px;
        text-indent: 0;
    }
}

/*========================================================
header
=========================================================*/

header {
    height: 60px;
    background-color: $color-first;

    @include mq('sp') {
        height: 40px;
    }
}

.header__nav {
    width: 600px;
    max-width: 90%;
    margin: auto;
}

.header__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header__list--item {
    a {
        color: #fff;
        font-family: $font-family-en;
        line-height: 60px;
        letter-spacing: 0.1em;
        position: relative;

        @include mq('sp') {
            line-height: 40px;
            font-size: 12px;
        }

        &:hover {

            &::after {
                transform-origin: center top;
                transform: scale(1, 1);
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #fff;
            transform-origin: right top;
            transform: scale(0, 1);
            transition: transform .3s;
        }
    }
}

/*========================================================
section共通
=========================================================*/

.section__title {
    font-size: 56px;
    text-align: center;
    font-family: $font-family-en;
    position: relative;
    margin-bottom: 140px;
    letter-spacing: 0.05em;

    @include mq('sp') {
        font-size: 40px;
        margin-bottom: 60px;
    }

    &::after {
        content: '';
        position: absolute;
        height: 80px;
        width: 1px;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #000;

        @include mq('sp') {
            height: 40px;
            bottom: -40px;
        }
    }
}

.wrapper {
    width: 1000px;
    max-width: 90%;
    margin: auto;
}

/*========================================================
about
=========================================================*/

.about {
    margin: 70px auto 0;

    @include mq('tab') {
        margin-top: 50px;
    }

    @include mq('sp') {
        margin-top: 30px;
    }
}

.about__contents {
    display: flex;
    align-items: center;

    @include mq('tab') {
        justify-content: space-between;
    }

    @include mq('sp') {
        display: block;
        margin-top: 30px;
    }
}

.about__img {
    width: 45%;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
    
    @include mq('tab') {
        width: 40%;
        height: auto;
    }

    @include mq('sp') {
        width: 80%;
        margin: 0 auto;
        height: 200px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        vertical-align: bottom;
    }
}

.about__info {
    width: 45%;
    margin-left: auto;

    @include mq('tab') {
        width: 50%;
        margin-left: 0px;
    }

    @include mq('sp') {
        width: 100%;
        margin-top: 20px;
    }
}

.about__info--item {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4px;

    @include mq('sp') {
        font-size: 16px;
    }
}

.about__info--description {
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 1.6;

    @include mq('sp') {
        font-size: 14px;
    }
}

/*========================================================
skill
=========================================================*/

.skill {
    margin: 150px auto 0;
    padding: 80px 0 100px;
    background-color: rgba($color: $color-third, $alpha: 0.4);

    @include mq('tab') {
        margin-top: 100px;
    }

    @include mq('sp') {
        margin-top: 50px;
    }
}

.skill__contents {

    @include mq('tab') {
        padding: 20px 15px;
    }

    @include mq('sp') {
        margin-top: 30px;
        padding: 15px 10px;
    }
}

.skill__item {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:first-child) {
        margin-top: 20px;

        @include mq('sp') {
            margin-top: 40px;
        }
    }

    @include mq('sp') {
        display: block;
    }
}

.skill__item--title {
    width: 200px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: $color-second;
    border-radius: 30px;
    font-size: 32px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.25);

    @include mq('tab') {
        font-size: 24px;
    }

    @include mq('sp') {
        font-size: 20px;
        margin: 0 auto;
    }
}

.skill__item--description {
    width: 60%;
    margin-left: 50px;
    font-size: 20px;

    @include mq('sp') {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
        font-size: 14px;
        text-align: center;
    }
}

/*========================================================
service
=========================================================*/

.service {
    margin: 100px auto 0;

    @include mq('tab') {
        margin-top: 100px;
    }

    @include mq('sp') {
        margin-top: 50px;
    }
}

.service__item {
    display: flex;
    align-items: center;

    @include mq('tab') {
        justify-content: center;
    }

    @include mq('sp') {
        display: block;
    }
    
    &:not(:first-child) {
        margin-top: 74px;

        @include mq('sp') {
            margin-top: 50px;
        }
    }
}

.service__item--title {
    font-weight: bold;
    font-size: 32px;
    width: 35%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    background-color: rgba($color: $color-first, $alpha: 0.1);
    text-align: center;

    @include mq('sp') {
        width: 100%;
        font-size: 20px;
    }
}

.service__item--description {
    font-size: 20px;
    margin-left: auto;
    width: 60%;

    @include mq('sp') {
        width: 100%;
        margin-top: 30px;
        font-size: 14px;
    }
}

/*========================================================
works
=========================================================*/

.works {
    margin-top: 150px;
    background-color: rgba($color: $color-third, $alpha: 0.4);
    padding: 100px 0;

    @include mq('tab') {
        margin-top: 100px;
    }

    @include mq('sp') {
        margin-top: 50px;
    }
}

.works__contents {
    display: flex;
    flex-wrap: wrap;

    @include mq('sp') {
        display: block;
    }
}

.works__content {
    width: calc(50% - 40px * 1 / 2);
    margin-bottom: 40px;

    &:nth-child(even) {
        margin-left: 40px;

        @include mq('sp') {
            margin-left: 0;
        }
    }

    @include mq('sp') {
        width: 100%;
        margin-top: 30px;
    }
}

.works__img {
    width: 100%;
    height: 264px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 25%);
    overflow: hidden;

    &:hover {

        img {
            transform: scale(1.1);
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        vertical-align: bottom;
        transition: transform 0.4s;
    }

    @include mq('sp') {
        height: auto;
    }
}

.works__description {
    margin: 20px auto 0;
    text-align: center;
    a {
        color: #333;
        position: relative;
        font-size: 18px;
        padding-bottom: 4px;

        &:hover {

            &::after {
                transform-origin: center top;
                transform: scale(1, 1);
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #333;
            transform-origin: right top;
            transform: scale(0, 1);
            transition: transform .3s;
        }
    }
}

/*========================================================
contact
=========================================================*/

.contact {
    margin-top: 100px;

    @include mq('tab') {
        margin-top: 100px;
    }

    @include mq('sp') {
        margin-top: 50px;
    }
}

.contact__lead {
    width: 80%;
    margin: 50px auto 0;
    text-align: center;

    @include mq('tab') {
        width: 100%;
    }

    @include mq('sp') {
        width: 100%;
        margin-top: 30px;
    }
}

.contact__form {
    margin-top: 50px;

    @include mq('sp') {
        margin-top: 30px;
    }
}

.contact__form--item {
    margin-top: 18px;

    label {
        display: inline-block;
        margin-left: 20px;
        position: relative;
    }

    input {
        margin-top: 22px;
        padding: 10px;
        width: 100%;
        font-size: 16px;

        @include mq('sp') {
            margin-top: 12px;
            font-size: 14px;
        }
    }

    textarea {
        margin-top: 22px;
        padding: 10px;
        width: 100%;
        font-size: 16px;
        resize: none;
        height: 210px;

        @include mq('sp') {
            font-size: 14px;
        }
    }

    .required::after {
        content: '必須';
        position: absolute;
        top: -4px;
        right: -60px;
        color: #fff;
        padding: 3.5px 9px;
        background-color: #B23030;
    }
}

.button {

    @include mq('sp') {
        text-align: center; 
    }

    button {
        margin-top: 70px;
        padding: 19px 56px;
        color: #fff;
        background-color: $color-first;
        border: none;
        font-size: 16px;
        margin-left: 30px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        
        @include mq('sp') {
            margin: 30px auto 0px;
            font-size: 14px;
        }
    }
}


.top-button {
    object-fit: cover;
    width: 30px;
    height: 18px;
    margin: 100px auto 0;

    @include mq('sp') {
        margin-top: 40px;
    }
}

/*========================================================
footer
=========================================================*/

footer {
    height: 60px;
    margin-top: 100px;
    background-color: $color-first;

    @include mq('sp') {
        height: 40px;
        margin: 30px auto 0;
    }
}

.footer__list {
    display: flex;
    width: 50%;
    line-height: 60px;
    margin-left: auto;

    @include mq('tab'){
        width: auto;
        margin-right: 30px;
        justify-content: flex-end;
    }

    @include mq('sp') {
        width: 100%;
        margin-left: 0px;
        justify-content: space-around;
        line-height: 40px;
    }
}

.footer__list--item {

    a {
        color: #fff;
        font-weight: bold;
        font-family: $font-family-en;
        position: relative;

        @include mq('sp') {
            font-size: 12px;
        }

        &:hover {

            &::after {
                transform-origin: center top;
                transform: scale(1, 1);
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #fff;
            transform-origin: right top;
            transform: scale(0, 1);
            transition: transform .3s;
        }
    }

    &:not(:first-child) {
        margin-left: 30px;

        @include mq('sp') {
            margin-left: 0px;
        }
    }
}

